@import "tailwindcss";

:root {
  --roxy-primary-font-color: #7184be !important;
  --roxy-background-color: #e3e7f2 !important;
  --hu_tao-background-color: #7e432f;
  --hu-tao-accent-color: #fffbf8;
  --hu_tao-primary-font-color: #eeaf57;
}

body {
  font-family: var(--font-poppins, sans-serif);
  user-select: none;
  overflow-x: hidden;
}

.text-roxy-primary-font {
  color: var(--roxy-primary-font-color);
}

.bg-roxy-bg {
  background-color: var(--roxy-background-color);
}

.roxy-main-text {
  transform: scale(0.7, 1.4);
  font-family: fantasy;
  line-height: 1.2;
}
html {
  scrollbar-width: none;
} /* Firefox */
body {
  -ms-overflow-style: none;
} /* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
} /* Chrome */
